<!-- <form [formGroup]="formGroup">
  <div>
    <input
      type="text"
      class="form-control"
      placeholder="Nazwa"
      formControlName="name"
    />
  </div>
  <div>
    <textarea
      type="text"
      class="form-control"
      placeholder="Opis"
      formControlName="description"
    ></textarea>
  </div>

  <button (click)="save()">Dodaj wycenę</button>
</form> -->

<mat-card>
  <mat-card-content>
    <form id="login" [formGroup]="formGroup" class="form" (ngSubmit)="save()">
      <mat-form-field class="form-group">
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="formGroup.controls['name'].invalid">
          Pole obowiązkowe
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          type="text"
          class="form-control"
          placeholder="Opis"
          formControlName="description"
        ></textarea>
        <mat-error
          *ngIf="formGroup.controls['description'].hasError('required')"
        >
          Pole obowiązkowe
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Piętro</mat-label>
        <input matInput formControlName="floor" type="number" />
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Pokoje</mat-label>
        <input matInput formControlName="rooms" type="number" />
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>m<sup>2</sup></mat-label>
        <input matInput formControlName="sq" type="number" />
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Rok</mat-label>
        <input matInput formControlName="year" type="number" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button
      type="submit"
      form="login"
      mat-raised-button
      color="primary"
      class="w-100"
    >
      Dodaj wycenę
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" [mode]="mode"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
