<header class="fixed">
  <mat-toolbar color="primary">
    <nav>
      <a routerLink="/" mat-button>
        <div class="mat-icon-text-wrapper">
          <mat-icon>home</mat-icon>
          <span>Wyceny</span>
        </div>
      </a>
      <a routerLink="/wycena" mat-button>
        <div class="mat-icon-text-wrapper">
          <mat-icon>paid</mat-icon>
          <span>Wyceń</span>
        </div>
      </a>
      <button mat-button aria-label="Wyloguj" type="button" (click)="logOut()">
        <div class="mat-icon-text-wrapper">
          <mat-icon>logout</mat-icon>
          <span> Wyloguj</span>
        </div>
      </button>
    </nav>
  </mat-toolbar>
</header>
