<div class="rates-container">
  <ng-container *ngIf="rates$ | async as rates">
    <mat-card class="example-card" *ngFor="let rate of rates">
      <mat-card-header>
        <mat-card-title> {{ rate.name }} {{ rate.id }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../../assets/img/apartment-g0be8f0099_1280.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>Opis: {{ rate.description }}</p>
        <p>Piętro: {{ rate.floor }}</p>
        <p>Pokoje: {{ rate.rooms }}</p>
        <p>m<sup>2</sup>: {{ rate.sq }}</p>
        <p>Rok: {{ rate.year }}</p>
        <p>Cena: {{ rate.price }}</p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
