<div [@blockInitialRenderAnimation]>
  <div class="auth-container">
    <h2>Witaj ponownie</h2>
    <div *ngIf="isLogin" [@grow]>
      <app-login></app-login>
    </div>
    <div *ngIf="!isLogin" [@grow]>
      <button
        type="button"
        (click)="isLogin = !isLogin"
        mat-raised-button
        color="primary"
        class="w-100"
      >
        Zaloguj
      </button>
    </div>
  </div>

  <hr class="separator" />

  <div class="auth-container">
    <h2>Jestem tu pierwszy raz</h2>
    <div *ngIf="isLogin" [@grow]>
      <button
        type="button"
        (click)="isLogin = !isLogin"
        mat-raised-button
        color="primary"
        class="w-100"
      >
        Zarejestruj
      </button>
    </div>
    <div *ngIf="!isLogin" [@grow]>
      <app-register (registerSuccess)="isLogin = !isLogin"></app-register>
    </div>
  </div>
</div>
