/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.form {
  &-wrapper {
    max-width: 500px;
    margin: 2em auto;
  }
  display: grid;
  grid-gap: 1em;
  &-group {
    width: 100%;
  }
}
