<mat-card class="form-wrapper">
  <!-- <mat-card-title>Rejestracja</mat-card-title> -->
  <mat-card-content>
    <form [formGroup]="formGroup" class="form">
      <mat-form-field class="form-group">
        <mat-label>Nazwa użytkownika</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="Nazwa użytkownika"
          formControlName="username"
          required
        />
        <mat-error *ngIf="formGroup.controls['username'].invalid">
          Pole obowiązkowe
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
          required
        />
        <mat-error
          *ngIf="
            formGroup.controls['email'].hasError('email') &&
            !formGroup.controls['email'].hasError('required')
          "
        >
          Proszę wpisać poprawny adres e-mail
        </mat-error>
        <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
          Pole obowiązkowe
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Hasło</mat-label>
        <input
          matInput
          type="password"
          [type]="hidePassword ? 'password' : 'text'"
          class="form-control"
          placeholder="Hasło"
          formControlName="password"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Ukryj hasło'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
          Pole obowiązkowe
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Potwierdź hasło</mat-label>
        <input
          matInput
          type="password"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          class="form-control"
          placeholder="Potwierdź hasło"
          formControlName="confirmPassword"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="formGroup.controls['confirmPassword'].hasError('required')"
        >
          Pole obowiązkowe
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button
      type="button"
      (click)="register()"
      mat-raised-button
      color="primary"
      class="w-100"
    >
      Zarejestruj
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" [mode]="mode"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
